<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hallinta</title>
    </head>
    <body>
        <div>Muokkaa uutinen</div>

        <form th:action="@{/muokkaa/{uId}(uId=${uutiset.id})}" method="POST" enctype="multipart/form-data" id="new">
        
            <p>Otsikko: <input th:value="${uutiset.otsikko}" name="otsikko"></input></p>
            <p>Kirjoittaja: <input th:value="${uutiset.kirjoittaja}" name="kirjoittaja"></input></p>
            <p>Sisältö: <textarea th:text="${uutiset.sisalto}" name="sisalto"></textarea></p>
            <p>Ingressi: <textarea th:text="${uutiset.ingressi}" name="ingressi"></textarea></p>

            <p><input type="checkbox" name="aihe" value="maailma"/>Maailma
                <input type="checkbox" name="aihe" value="urheilu"/>Urheilu
                <input type="checkbox" name="aihe" value="kotimaa"/>Kotimaa
                <input type="checkbox" name="aihe" value="sää"/>Sää
                <input type="checkbox" name="aihe" value="politiikka"/>Politiikka</p>

            <input type="file" name="file" id="file"/>
            <input type="submit" value="Add"></input>
        


        </form>




    </body>
</html>
